<div style="margin:10px">
  <h3>Stay Home, Stay Safe!</h3>

  <app-dashboard></app-dashboard>
  
  <h3>Built with the help of Postman API Resource Center</h3>
  <a href="https://covid-19-apis.postman.com/?mkt_tok=eyJpIjoiTXpVd01tUmlNMkV6WVRkaSIsInQiOiJLa2N5V0QweGhoTDFGd2FqanR5WmZPNkorY2pKRkZEekFmbUFUS2xvenJjczhha2FcL0RSOG1xODZzeElnWmlOSFg2V282Z2JGV1E5QWg3dGtlZU1hc1F5MVJ0eFJhczNcL2FncGxoTEpiaGowMlwvVWlxWTdBU3NBNUtORUJiRXV1QiJ9">Postman COVID-19 API Resource Center
  </a>

  <h3>Count API Source</h3>
  <a href="https://documenter.getpostman.com/view/8854915/SzS7R6uu?version=latest">NovelCOVID API (github.com/NovelCOVID/API)</a>

  <h3>Datatable Library Used</h3>

  <a href="https://www.ag-grid.com/">ag-grid</a>

</div>